body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
  background-color: #333; /* Darker color for the navbar */
  color: #fff; /* Text color for navbar */
  padding: 10px;
}
.navbar-logo {
  height: 40px; /* Adjust height as needed */
  width: auto; /* Automatically adjust width based on height */
  padding-right: 10px;
}
.navbar-items {
  display: flex;
  justify-content: space-between;
}

.navbar-button {
  background-color: #555; /* Darker color for buttons */
  color: #fff; /* Text color for buttons */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: #777; /* Darker color for buttons on hover */
}

.cart-wrapper {
  margin-left: auto;
  margin-top: 10px;
}
